@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Baloo 2';
  font-style: normal;
  font-weight: 400 800;
  font-display: swap;
  src: url('/fonts/baloo-2/baloo-2-variable.woff2') format('woff2');
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400 800;
  font-display: swap;
  src: url('/fonts/nunito/nunito-variable.woff2') format('woff2');
}

@layer base {
  html {
    font-family: theme('fontFamily.sans');
  }
}
